body{
    max-width:  100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1{
    color: rgb(243, 55, 13);
    text-align: center;
    text-decoration: line-through;
}

p{
    max-width: 400px;
    max-height: 100%;

    color: rgb(105, 255, 13);
    text-align: center;
    text-decoration: wavy;
}

p:hover{
    color: rgb(207, 161, 34);
    transition: 2s;
}